<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <mat-card style="padding: 20px">
    <form
      [formGroup]="loginForm"
      class="row"
      style="max-width: 400px; width: 100%"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="loginForm.get('email')?.invalid">
          Invalid email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid">
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

      <div class="flex justify-content-center gap-3">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Log In
        </button>
        <button
          style="margin-left: 20px"
          mat-raised-button
          color="primary"
          (click)="moveToSignUp()"
        >
          Register
        </button>
      </div>
    </form>
  </mat-card>
</div>
